#bar {
    background:#61a5c2;
    padding: 30px 50px 30px 50px;
    color: #ffffff;
}

#form {
    background: #f1ebe5;
    padding: 30px 40px 30px 40px;
}

.button{
    float: right;
    margin-top: -45px;
}

.total {
    text-align: center;
    font-weight: bold;
    background: #b7b7a4;
}
